# used for nix
# to use install
# nix, direnv, nix-direnv
#
# then once `cd` into the project
#
# ```sh
# direnv allow
# ```
if type nix &>/dev/null; then
  # https://github.com/nix-community/nix-direnv
  use flake
fi
